// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$regularSize: 14;
$desktopSize: 860;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$roboto: 'Roboto', sans-serif;

// ----------------------------------------------------------------------
// styles
// ----------------------------------------------------------------------
$appBgColor: linear-gradient(45deg, #007af5, #0080ff) !default;

$appSecondaryColor: #fff !default;
